<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Brian Reiter</string>
	<key>contactEmailRot13</key>
	<string>oervgre@jbysrervgre.pbz</string>
	<key>description</key>
	<string>Visual Studio Code editor integration.</string>
	<key>name</key>
	<string>VS Code</string>
	<key>uuid</key>
	<string>E9F2ACB8-BFA6-4D7B-9FAE-03FC54327597</string>
</dict>
</plist>
